@charset 'utf8';

body{
    background: url(../assets/images/patterns/bg.png);
    background-repeat: repeat;
    font-family: IRANSans, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-flow: column;
    height: 100vh;
}
a{
    color: #0088cc;
    transition-duration: 200ms;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
    border-top: none;
    transition-duration: 200ms;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(196, 196, 196);
    background: #fafafa;
    font-family: IRANSans, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    padding: 5px;
    margin: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    background: #f5f5f5;
    box-shadow: 4px 4px 7px #b4b4b4;
    border: none;
}

.shadow-block{
    background: white;
    box-shadow: 2px 2px 7px grey;
    border: 1px solid #e9e9e9;
}

body header{
    height: 50px;
    z-index: 100;
}

.container{
    display: flex;
}

header .container{
    height: 100%;
    align-items: center;
}

body header .header-left{
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    height: 100%;
}

body header .header-right{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    height: 100%;
}

header a.menu-item {
    text-decoration: none;
    transition-duration: 0.2s;
    color: #595454;
    padding: 16px 25px;
}
header a.menu-item:hover{
    background: #e9e9e9;
}

.content-body{
    min-height: 200px;
    flex: 1;
    flex-wrap: nowrap;
    overflow: auto;
}
.content-body.inner-margin{
    margin: 20px;
}

footer {
    height: 30px;
    z-index: 100;
    font-size: 11px;
}
footer.shadow-block{
    box-shadow: -2px -2px 7px grey;
}

.img-banner{
    margin:auto;
}

h1{
    font-size: 28px;
    font-weight: bold;
}
h2{
    font-size: 22px;
}
h3{
    font-size: 20px;
}

.app-title{
    margin: 15px;
}
.section-title{
    margin: 10px;
    font-weight: bold;
}

div.pad {
    padding: 100px 0;
}
div.mini-pad{
    padding: 50px 0;
}

div.box {
    padding: 100px 200px;
    border: 1px solid #e3e3e3;
    box-shadow: 2px 2px 7px grey;
    margin: 10px;
    background: #fefefe;
}

div.user-auth{
    width: 500px;
}
div.user-auth .inner-auth{
    margin: 20px;
    width: auto;
}
.inner-auth h4{
    font-weight: bold;
}

form label, form input{
    margin: 5px;
    align-self: center;
}
.inner-auth form label{
    width: 80px;
}

span.content-heading {
    text-transform: uppercase;
    color: #777777;
    font-weight: bold;
    margin: 30px 5px 6px 5px;
    font-size: 13px;
}
span.content-heading:first-child {
    margin-top: 0;
}
hr {
    width: 100%;
    background: silver;
    border: none;
    height: 2px;
    margin: 20px 0;
}
img.avatar{
    border-radius: 50%;
    margin: 20px 0 0 0;
}
.inner-auth form input[type="submit"]{
    padding: 5px 20px;
}
img.round{
    border-radius: 50%;
}
.user-loggedin-avatar{
    border-radius: 50%;
    margin: -50% 5px;
}

.profile-module{
    margin: 20px 0 0 0;
    text-align: center;
}

.profile-module .profile-name{
    margin: 12px 0;
    font-weight: bold;
}
.profile-module .profile-meta{
    margin: 0 0 12px 0;
    color: gray;
    font-size: 12px;
}

.sidebar{
    overflow-y: auto;
    flex-wrap: nowrap;
    overflow-x: hidden;
}
a.side-item {
    width: 100%;
    padding: 12px 0px;
}
a.side-item > span {
    margin: 18px;
}
a.side-item > span > i{
    margin-right: 2px;
    width: 22px;
}
.side-menu a.side-item {
    color: #302f2f;
    transition-duration: 200ms;
}
.side-menu a.side-item:hover {
    background: #e3e3e3;
}
.side-menu a.side-item.selected {
    color: #27ae60;
    border-left: 2px solid #27ae60;
    background: #42e7871a;
}

.side-menu a.side-item.selected:hover {
    color: #127c3f;
    border-left: 2px solid #148845;
    background: #42e78733;
}

.side-menu div.side-group-title {
    text-transform: uppercase;
    font-size: 12px;
    margin: 20px 0 3px 8px;
    font-weight: bold;
    color: #515151;
}

.error-content{
    text-align: center;
}
.error-content h2 {
    font-size: 200px;
    color: #5d5d5d;   
}
.error-content p {
    line-height: 30px;
}

.side-menu-end{
    margin-bottom: 8px;
}

::-webkit-scrollbar{
    width: 5px;
    transition-duration: 200ms;
}
::-webkit-scrollbar:hover{
    width: 10px;
}
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #bbb; 
border-radius: 2px;
}

input[type="submit"], a.btn {
    padding: 7px 10px;
    margin: 2px;
    background: #e5e5e5;
    border: 0;
    color: #383838;
    transition-duration: 200ms;
}
input[type="submit"]:hover, a.btn:hover,
input[type="submit"]:focus, a.btn:focus {
    box-shadow: 2px 2px 10px #b3b3b3;
    transform: translate(3px);
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #aaa; 
}

.side-content{
    margin: 10px 20px;
    overflow-y: auto;
    overflow-x: hidden;
}
.profile-page{
    margin: 10px;
}
.profile-page img.user-logo {
    height: 150px;
    width: 150px;
    border: 2px solid white;
    box-shadow: 4px 4px 6px #d4d4d4;
}

.profile-page .user-details{
    margin: 10px;
}
.profile-page .user-details h2{
    font-size: 25px;
}
.profile-page .user-details .job-title{
    font-size: 15px;
    color: gray;
}
.profile-page .user-details .employer{
    font-size: 12px;
    color: gray;
}

.user-details > h2, .user-details > div {
    margin: 0 0 10px 0;
}
.user-details .tag {
    border: 1.5px solid gray;
    background: white;
    padding: 3px;
    font-size: 11px;
    color: gray;
    font-weight: bold;
    margin-right: 4px;
}
.user-details .tag.presenter {
    color: #3c77da;
    border: 1.5px solid #577ed4;
    background: #e7f5fd;
}
.user-details .tag.admin{
    color: #3cda45;
    border: 1.5px solid #7cd457;
    background: #effde7;
}
a.menu-item.hamburger{
    display: none;
}
.top-menu-chev{
    display: none;
}
.app-description{
    margin: 10px;
}


#add-event-form label {
    width: 120px;
}

table{
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    display: table;
    border-spacing: 2px;
    box-shadow: 3px 3px 7px #ababab;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
}
thead tr {
    background: #efefef;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table td, .table th{
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    text-align: left;
}
tr{
    transition-duration: 200ms;
    background: #fbfbfb9c;
}
tbody tr:hover {
    background: #f7f7f7f6;
    box-shadow: 4px 4px 7px #b4b4b4;
    transform: translate(5px)
}

#event-banner{
    height: 200px;
}

span.event-title {
    color: white;
    font-size: 20px;
    margin: 20px 0 0 0;
    font-weight: bold;
}
span.event-presenter {
    color: #e6e6e6;
    margin: 5px 0 0 0;
    font-size: 12px;
}
.info-item {
    line-height: 24px;
}
.info-item .title {
    width: 115px;
    font-weight: bold;
    color: #494949;
}
.event-content{
    width: calc(100% - 40px);
}
@media screen and (max-width: 940px){
    .sidebar{
        flex-grow: 0;
        display:none;
    }
    a.menu-item.hamburger{
        display: flex;
    }
    .sidebar.open{
        display: flex;
        flex-grow: 10;
    }
    .side-content.open{
        display: none;
    }
}

@media screen and (max-width: 645px){
    div.box {
        padding: 75px 150px;
    }
    .img-banner{
        max-width: 90%;
    }
    body header{
        height: auto;
    }
    body header div.container{
        flex-direction: column;
    }
    body header .header-right{
        flex-direction: column;
    }
    .top-menu-chev{
        display: block;
    }
    .navbar{
        height: 45px;
        flex-wrap: nowrap;
    }
    .navbar .header-right{
        display:none;
    }
    .navbar.open{
        height: 100%;
    }
    .navbar.open .header-right{
        display: flex;
    }
}

@media screen and (max-width: 550px){
    .content-body #login, .content-body #signup{
        width: 90%;
    }
    .content-body #login, .content-body #signup{
        height: 90%;
    }
}